* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.4;
}

.layout {
  margin: 15px auto;
  width: 1000px;
}

.page-header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.home-link-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.page-link-container {
  display: flex;
  align-items: stretch;
  width: 60%;
}

.page-link {
  flex: 1 1 0;
}

.page-header a {
  text-decoration: none;
  color: #000;
  text-align: center;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#000, #000);
  background-size: 0% 0.15em;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.page-header a:hover,
.page-header a:active,
.page-header a:focus {
  background-size: 100% 0.15em;
}

.home::first-letter {
  font-size: 25px;
  font-weight: bold;
}

.page-container {
  display: flex;
  align-items: baseline;
}

.main {
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  border-radius: 5px;
}

.photo-container {
  position: relative;
  flex: 0 0 auto;
  width: 500px; /* same width as to photo */
  height: 500px; /* same height as to photo */
}

.intro {
  flex: 1 1 auto;
  padding-right: 60px;
  padding-bottom: 15px;
  text-align: end;
}

.photo {
  position: absolute;
  right: 90px;
  width: 500px;
  cursor: pointer;
}

.name {
  font-size: 45px;
}

.highlight-text {
  color: orangered;
}

.social-media-container {
  position: absolute;
  top: 0;
  right: -65px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  padding: 17px 10px;
  gap: 17px;
  background-color: #e6edf3;
  border-radius: 5px;
}

.social-media {
  text-align: center;
  vertical-align: middle;
  height: 40px; /* hack fix: anchor taking more height than content */
}

.social-media-icon {
  display: inline-block;
  text-wrap: nowrap;
  padding: 4px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  transition-duration: 0.3s;
  transition-property: filter, padding, width;
}

.social-media-icon:hover {
  padding: 0;
}

.linkedin:hover {
  filter: drop-shadow(0 0 0.2em#0077b5);
}

.x-twitter:hover {
  filter: drop-shadow(0 0 0.2em#000);
}

.instagram:hover {
  filter: drop-shadow(0 0 0.2em#e4405f);
}

.medium:hover {
  filter: drop-shadow(0 0 0.2em#000);
}

.stack-overflow:hover {
  filter: drop-shadow(0 0 0.2em#e7700d);
}

.github:hover {
  filter: drop-shadow(0 0 0.2em#000);
}
