* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  box-sizing: border-box;
}

h1,
h2 {
  margin: 20px 0 5px 0;
}

/* a:link {
  text-decoration: none;
}

a:hover {
}

a:active {
}

a:visited {
} */

.page-container {
  position: relative;
  width: 1000px;
  margin: 20px auto;
  padding: 0 30px;
}

li {
  width: 90%;
}

.social-media-container {
  position: absolute;
  top: 60px;
  right: 0px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  padding: 15px 10px;
  gap: 15px;
  background-color: #e6edf3;
  border-radius: 5px;
}

.social-media {
  text-align: center;
  vertical-align: middle;
}

.social-media-icon {
  display: inline-block;
  padding: 4px;
  height: 40px;
  width: 40px;
  transition-duration: 0.3s;
  transition-property: filter, padding, width;
}

.social-media-icon:hover {
  padding: 0;
}

.linkedin:hover {
  filter: drop-shadow(0 0 0.2em#0077b5);
}

.x-twitter:hover {
  filter: drop-shadow(0 0 0.2em#000);
}

.instagram:hover {
  filter: drop-shadow(0 0 0.2em#e4405f);
}

.medium:hover {
  filter: drop-shadow(0 0 0.2em#000);
}

.stack-overflow:hover {
  filter: drop-shadow(0 0 0.2em#e7700d);
}

.github:hover {
  filter: drop-shadow(0 0 0.2em#000);
}
