<header class="page-header">
  <nav class="home-link-container">
    <a href="/">
      <div class="home">Aman <span class="highlight-text">Go</span>dara</div>
    </a>
  </nav>
  <button class="mobile-menu-toggle" aria-label="Toggle navigation menu" aria-expanded="false">
    <span class="hamburger"></span>
  </button>
  <nav class="page-link-container">
    <a href="/wip/" class="page-link">
      <div>Career Portfolio</div>
    </a>
    <a href="/dev-journal/" class="page-link">
      <div>Dev Journal</div>
    </a>
    <a href="/wip/" class="page-link">
      <div>Art of Living</div>
    </a>
    <a href="/wip/" class="page-link">
      <div>About me</div>
    </a>
  </nav>
</header>